:root {
  --text-main: #eeeeee;
  --text-secondary: #cccccc;

  --text-valid: lime;
  --text-invalid: crimson;

  --bg-main: #161616;
  --bg-secondary: #1c1c1c;
  --bg-tertiary: #282828;

  --print-bg-color: white;
  --print-text-color: #333;

  --accent-main: #ffa001;
}
