@media print {
  html,
  body {
    background-color: var(--print-bg-color);
    color: var(--print-text-color);

    font-size: 2rem;

    .barillet-options,
    .barillet-summary,
    .footer {
      display: none;
    }

    .editor-title {
      display: none;
    }

    .add-card-btn,
    .del-card-btn {
      display: none;
    }

    .barillet {
      background-color: white;
      color: var(--print-text-color);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    .barillet-grid {
      display: block;
    }

    .theme-card {
      break-after: page;
      page-break-after: always;
      border: 1px solid var(--print-text-color);
    }

    .wrapper,
    .theme-card {
      background-color: var(--print-bg-color);
      color: var(--print-text-color);

      input,
      textarea,
      .nature,
      .nbJ,
      .categorie,
      .duree {
        background-color: var(--print-bg-color);
        color: var(--print-text-color);
      }

      .extra::placeholder {
        color: transparent;
      }

      .url-in-extra {
        display: none;
      }

      .cate-not-libre {
        background-color: #ddd;
        color: var(--print-text-color);
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }
    }

    .btn-barillet-launch {
      display: none;
    }
  }
}
