
@media print {
  html {
    background-color: #fff;
  }

  body * {
    visibility: hidden;
    background-color: #fff;
  }
  .barillet,
  .barillet * {
    visibility: visible;
  }
  .barillet {
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    .add-card-btn,
    .del-card-btn {
      visibility: hidden !important;
    }
  }

  .extra::placeholder {
    visibility: hidden;
    display: none;
    color: transparent;
  }

  .theme-card .cate-not-libre {
    background-color: #ddd;
    -webkit-print-color-adjust: exact;
  }
}